<!DOCTYPE html>
<html>
<head>
  <title>Set New Password</title>
</head>
<body>
  <h2>Set New Password for <%= email %></h2>
  <% if (typeof error !== 'undefined') { %>
    <div class="error"><%= error %></div>
  <% } %>
  <form action="/auth/reset-password-new" method="POST">
    <input type="hidden" name="email" value="<%= email %>">
    <label>New Password:</label>
    <input type="password" name="password" required minlength="6">
    <button type="submit">Set Password</button>
  </form>
  <script> window.chtlConfig = { chatbotId: "5358877347" } </script>
<script async data-id="5358877347" id="chtl-script" type="text/javascript" src="https://chatling.ai/js/embed.js"></script>
</body>
</html>
